
<!-- <alert class="alert" ng-repeat="error in errors" type="danger">{{error.err}}</alert>
<form name="registerForm" class="form-signin" novalidate>
  <div class="control-group">
    <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
    <div ng-show="registerForm.email.$dirty" ng-messages="registerForm.email.$error">
      <div ng-message="required">
        You forgot the email address.
      </div>
      <div ng-message="email">
        That is not a well formed email address.
      </div>
    </div>
  </div>
  <div class="control-group">
    <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
    <div ng-show="registerForm.password.$dirty" ng-messages="registerForm.password.$error">
      <div ng-message="required">
        You forgot the password.
      </div>
    </div>
  </div>

  <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" value="Login" />
</form> -->

<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Testing App</h1>
                <h3> Login </h3>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced"  ng-model="user.email" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized"  ng-model="user.password" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="login(user)" class="button button-full button-assertive ink">Login</button>
        </div>
    </ion-content>
</ion-view>