<!--<ion-view view-title="">
  <ion-content class="padding">
     <h1>Angular messages!</h1>

    <h2>Welcome to our demo of Sails + Angular + JWT</h2>
    <a href="#/register" class="btn btn-lg btn-success">Try it!</a>
  </ion-content>
</ion-view> -->

<ion-view view-title="Welcome" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Testing App</h1>
            </div>
        </div>
        <div class="row responsive-sm">
			  <div class="col">
		            <button ui-sref="anon.login" class="button button-full button-assertive ink">Login</button>
			  </div>
			  <div class="col">
		            <button ui-sref="anon.register" class="button button-full button-assertive ink">Register</button>
			  </div>
		</div>
    </ion-content>
</ion-view>
